.board {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
}

.board__buttons-wrapper {
  --button-size: 2.4rem;

  display: grid;
  grid-template-columns: repeat(2, var(--button-size));
  grid-template-rows: var(--button-size);
  justify-content: end;
  padding-right: 1.5rem;
  gap: 0.5rem;
}

.board__buttons-wrapper__button {
  padding: 13%;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-radius: 3px;
  transition:
    transform 0.1s,
    filter 0.1s;
}

.board__buttons-wrapper__button:hover {
  transform: scale(1.1);
}

.board__buttons-wrapper__button:active {
  filter: brightness(0.8);
}

.board__buttons-wrapper__button--restart {
  background-color: var(--accent-1);
}

.board__buttons-wrapper__button--exit {
  background-color: var(--accent-2);
}

.board__buttons-wrapper__button img {
  width: 100%;
}

.board__cards-wrapper {
  --repeat: auto-fill;

  display: grid;
  gap: 1rem;

  grid-auto-rows: max-content;
  grid-template-columns: repeat(var(--repeat), var(--width) var(--width));

  justify-content: center;
  align-content: center;
}

@media (min-width: calc(1000px + 4rem)) {
  .board__cards-wrapper--easy {
    --repeat: 2;
  }
}

.board__cards-wrapper--easy,
.board__cards-wrapper--normal {
  --width: 250px;
}

.board__cards-wrapper--hard {
  --width: 215px;
}

.board__cards-wrapper--serious {
  --width: 170px;
}

@media (max-width: calc(500px + 1rem)) {
  .board__cards-wrapper {
    --repeat: 1;
    --width: 1fr;
    padding: 0 clamp(0rem, 2vw, 1rem);
  }
}
