.board {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.board__buttons-wrapper {
}

.board__cards-wrapper {
  --repeat: auto-fill;
}

@media (min-width: calc(1000px + 4rem)) {
  .board__cards-wrapper--easy {
    --repeat: 2;
  }
}

@media (max-width: calc(500px + 1rem)) {
  .board__cards-wrapper {
    --repeat: 0;
  }
}

.board__cards-wrapper {
  display: grid;
  gap: 1rem;

  grid-auto-rows: max-content;
  grid-template-columns: repeat(var(--repeat), var(--width) var(--width));

  justify-content: center;
  align-content: center;
}

.board__cards-wrapper--easy,
.board__cards-wrapper--normal {
  --width: 250px;
}

.board__cards-wrapper--hard {
  --width: 215px;
}

.board__cards-wrapper--serious {
  --width: 170px;
}
