.game-selector {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
}

.game-selector__genres {
  --repeat: auto-fill;

  display: grid;
  grid-template-columns: repeat(var(--repeat), 250px);
  grid-auto-rows: 350px;
  gap: 15px;

  justify-content: center;
}

@media (min-width: calc(1250px + 5rem)) {
  .game-selector__genres {
    --repeat: 5;
  }
}

.game-selector__genres__button {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 3px;
}

.game-selector__genres__button--selected {
  outline: #ebebeb 6px solid;
}

.game-selector__genres__button img {
  border-radius: inherit;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.9);
}

.game-selector__genres__button p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.game-selector__difficulties {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: center;
  justify-content: center;
  justify-items: center;

  gap: 20px;
}

.game-selector__difficulties__button {
  width: 100%;
  border-radius: 2px;
  color: white;
  border: 0;
  padding: 0.5rem 3rem;
  background-color: var(--difficulty-color-1);
  box-shadow: 0px 7px 0px 0px var(--difficulty-color-2);
  text-wrap: nowrap;
}

.game-selector__difficulties__button:active {
  box-shadow: 0px 4px 0px 0px var(--difficulty-color-2);
  transform: translateY(3px);
}

.game-selector__difficulties__button__name {
  font-weight: 600;
  font-size: 1.5rem;
}

.game-selector__difficulties__button__score {
  box-shadow: 1px;
}

.game-selector__difficulties__button--easy {
  --difficulty-color-1: #60bf22;
  --difficulty-color-2: #428316;
}

.game-selector__difficulties__button--normal {
  --difficulty-color-1: #ffc600;
  --difficulty-color-2: #a78302;
}

.game-selector__difficulties__button--hard {
  --difficulty-color-1: #f18f01;
  --difficulty-color-2: #aa6601;
}

.game-selector__difficulties__button--serious {
  --difficulty-color-1: #e41f1f;
  --difficulty-color-2: #921212;
}
