.game {
  display: grid;
  grid-template-areas:
    'header scoreboard'
    'screen screen';

  grid-template-columns: 1fr 150px;
  grid-template-rows: max-content 1fr;

  min-height: 100vh;
}

.game__header {
  display: grid;
  justify-content: start;
  padding-left: 10%;
  font-size: clamp(1.7rem, 8.7vw, 2.5rem);
  padding-top: 0.2rem;
  justify-content: center;
  margin: 0;
  text-wrap: wrap;

  grid-area: header;
}

.game__scoreboard {
  grid-area: scoreboard;
}

.game__game-selector {
  grid-area: screen;
}

.game__board {
  grid-area: screen;
}
