body {
  font-family: Calibri;

  background-color: #383838;
  color: #ebebeb;

  min-height: 100vh;
}

#root {
  min-height: 100vh;

  display: grid;
  grid-template-rows: max-content 1fr;
}

p {
  margin: 0;
  padding: 0;
}
